body {
  font-family: Tahoma;
}
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-bottom: 96px ;
  padding-top: 77px;
}
.header-img {
  display: inline-block;
  width: 44%;
  vertical-align: middle;
}
.header-text {
  display:inline-block;
  width: 55%;
  vertical-align: middle;
}
.img {
  width: 404px;
  height: 630px;
}
.header-text__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}
.header-text__subtitle {
font-size: 30px;
font-weight: 400;
margin-bottom: 35px;
}
.header-text_descr {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 530px;
}
.header-text-price {
  margin-top: 47px;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 53px;
}
.button {
  border-radius: 5px;
  background-color: #f05a22;
  font-size: 24px;
  color: #ffffff;
  padding: 22px 43px;
}
.button-o {
  color: #f05a22;
  background-color: transparent;
  border: 2px solid #f05a22;
}
.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  margin-bottom: 97px;

}
.feater {
  padding-top: 90px;
  padding-bottom: 99px;
  background-color: #f2f2f2;
}
.feater-wrap::after {
  content: '';
  display: table;
  clear: both;
}
.featers-block {
  display: inline-block;
  text-align: center;
  width: 24%;
  float: left;
}
.feater-block__img {
  width: 100px;
  height: 100px;
  margin-bottom: 23px;
}
.feater-block__text {
  margin-top: 30px;
}
.footer-text {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.footer-img::after {
  content: '';
  display: table;
  clear: both;
}
.footer-img__img {
  display: inline-block;
  text-align: center;
  width: 24%;
  float: left;
}
